.u1 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.u1 li {
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}
.u2 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.u2 li {
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}
.u3 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.u4 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.u5 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1 {
	float: left;
	width: 20%;
	height: 840px;
	color: white;
	text-align: center;
	padding-top: 50px;
	background-color: rgb(101,164,250);
}
.content {
	margin-left: 4%;
	padding-top: 30px;
	float: left;
	width: 70%;
	height: 100%;
}

